body {

    margin: 5% auto;
    background: #FBFBFB;
	/*system-ui mjenja prijašnji -apple-system, BlinkMacSystemFont (https://css-tricks.com/snippets/css/system-font-stack/)*/
    font-family: system-ui, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
    color: #454545;
    font-size: 18px;
    line-height: 1.5;
    text-shadow: 0 1px 0 #ffffff;
    max-width: 73%;
}

a {
    border-bottom: 1px solid #444444;
    color: #444444;
    text-decoration: none;
}

a:hover {
    border-bottom: 0;
}
