body {
    margin: 0 auto;
    background: #F2F0EB;
/*system-ui mjenja prijašnji -apple-system, BlinkMacSystemFont (https://css-tricks.com/snippets/css/system-font-stack/)*/
    font-family: system-ui, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
    color: #1f1f1f;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.5;
    max-width: 50em;
    padding: 4em 1em;
}
.fade-in-text {
  font-family: Arial;
  font-size: 1.2em;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
h2 {
    cursor:default;
}
p {
    cursor:default;
}
blockquote {
    font-style: italic;
    cursor:default;
}
a {
    border-bottom: 1px solid #444444;
    color: #800080;
    text-decoration: none;
}
a:hover {
    border-bottom: 0;
}

/*automatski mjenja temu u tamnu ako uredaj ima ukljucen dark mode*/
@media (prefers-color-scheme: dark) {
body {
    color: #FBFBFB;
    background: #292929;
}
a {
    border-bottom: 1px solid #999999;
    color: #cd00cd;
}
}
